name: deploy to Railway

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: install Railway
        run: npm i -g @railway/cli

      - name: deploy to production
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}